@import 'colors';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: $third;
  padding: 30px 15px;
}
h1 {
  color: $primary;
  border-left: solid 5px $primary;
  padding-left: 15px;
  font-size: 1.4rem;
}

.loadingContainer {
  width: 50%;
  height: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 25%;
  color: $dark;
  font-size: 1.2rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigationBar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  > div {
    margin: 0 15px;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: $primary;
    font-weight: bold;
    text-decoration: underline;
  }
  button:disabled {
    cursor: not-allowed;
    text-decoration: none;
    color: $secondary;
    opacity: 0.7;
  }
}

.usersListGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: center;
}

.userCard {
  border: solid 1px $dark;
  padding: 15px;
  width: 300px;
  margin: 5px;
  font-size: 0.8rem;

  h2 {
    color: $primary;
    border-bottom: solid 2px $primary;
    font-size: 1.2rem;
  }

  .label {
    font-weight: 700;
  }
}
